/* Container for positioning the spinner */
.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* You can adjust the height as needed */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.3); /* Optional: Dark background */
  }
  
  /* The actual spinner animation */
  .spinner {
    border: 8px solid #f3f3f3; /* Light gray background */
    border-top: 8px solid #542C4B; /* Spinner color */
    border-radius: 50%;
    width: 60px; /* Size of the spinner */
    height: 60px; /* Size of the spinner */
    animation: spin 1.5s linear infinite;
  }
  
  /* Keyframes for the spinner's rotation */
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  